.zoneCTA [title="Contacter"],
.zoneCTA [title="Itinéraire"] {
  display: none;
}

.FF_TECH_REFONTE_FD.FF_FD_TEASER .zone-fantomas {
  width: auto;
}

.FF_TECH_REFONTE_FD.FF_FD_TEASER .zone-fantomas .fantomas {
  left: auto;
  right: 0;
}

.FF_TECH_REFONTE_FD.FF_FD_TEASER .zone-fantomas .num-container {
  display: inline-block;
}
